html {
    position: relative;
    min-height:100%;
}
body {
    margin-bottom:100px;
    padding-top:120px;
}
.custom-navbar {
    background-color: #973131;
}

nav p {
    color:#FFF;
}

.custom-btn-1 {
    background-color: #E0A75E;
}

.custom-btn-outline-2 {
    border-color: #E0A75E;
    color:#E0A75E;
}

.custom-btn-2:hover {
    background-color: #E0A75E;
    color: black;
}
.container-fluid {
    flex:1;
}
.blockquote {
    background-color:#F9D689;
}
.blockquote-footer {
    background-color:#F5E7B2;
}
.footer {
    position:absolute;
    bottom:0;
    width:100%;
    height:0px;
}
.blockquote-footer {
    color:black;
}